<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar">
    <a href="/foods">All Foods</a>
    <a href="/foods/create">Create Food </a>
    <a href="/foods/lactose">Foods Containing Lactose</a>
    <a href="/foods/seafood">Foods Containing Seafood</a>
    <a href="/foods/check">Allergy Check</a>
    <a href="/foods/out-of-stock">Out-of-Stock</a>
    <a href="/foods/low-stock">Low Stock</a>
    <a href="/foods/expired">Expired Foods</a>
    <a href="/foods/expiring-soon">Expiring Foods</a>
</div>

</body>
</html>