<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Drink</title>
</head>
<body>

<h1>Edit Drink</h1>

<form th:action="@{/drinks/{id}(id=${drink.id})}" method="post" th:object="${drink}">
    <input type="hidden" name="_method" value="put"/>

    Name: <input type="text" th:field="*{name}"/><br>
    Flavour: <input type="text" th:field="*{flavour}"/><br>
    Price: <input type="number" step="0.01" th:field="*{price}"/><br>
    Expire Date: <input type="date" th:field="*{expireDate}"/><br>

    <button type="submit">Update</button>
</form>

<a th:href="@{/drinks}">Cancel</a>

</body>
</html>