<table>
    <tr>
        <th>Name</th>
        <th>Expire Date</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr th:each="drink : ${drinks}">
        <td th:text="${drink.name}">Name</td>
        <td th:text="${drink.expireDate}">Expire</td>
        <td th:text="${drink.price}">Price</td>
        <td>
            <a th:href="@{/drinks/edit/{id}(id=${drink.id})}">Edit</a>
            <form th:action="@{/drinks/{id}(id=${drink.id})}" method="post" style="display:inline">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>
            <a th:href="@{/drinks/{id}(id=${drink.id})}">View</a>
        </td>
    </tr>
</table>
<a th:href="@{/drinks/new}">Create New Drink</a>