<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Drink</title>
</head>
<body>

<h1>Create Drink</h1>

<form th:action="@{/drinks}" method="post" th:object="${drink}">

    Name: <input type="text" th:field="*{name}"/><br>
    Flavour: <input type="text" th:field="*{flavour}"/><br>
    Price: <input type="number" step="0.01" th:field="*{price}"/><br>
    Expire Date: <input type="date" th:field="*{expireDate}"/><br>

    <button type="submit">Create</button>
</form>

<a th:href="@{/drinks}">Back to All Drinks</a>

</body>
</html>