<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Food</title>
</head>
<body>
<h1>Edit Food</h1>
<div th:if="${errorMessage}" style="color:red; font-weight:bold;">
    <p th:text="${errorMessage}"></p>
</div>
<form th:action="@{/foods/edit/{id}(id=${food.id})}" th:object="${food}" method="post">
  Name: <input type="text" th:field="*{name}" required><br>
  Barcode: <input type="text" th:field="*{barcode}"><br>
  Price: <input type="number" step="0.01" th:field="*{price}" required><br>
  Quantity: <input type="number" th:field="*{quantity}"><br>
  Best Before: <input type="date" th:field="*{bestBefore}" required> <br>

  Has Lactose: <input type="checkbox" th:field="*{hasLactose}"><br>
  Has Seafood: <input type="checkbox" th:field="*{hasSeafood}"><br>

  <button type="submit">Create</button>
</form>
<a href="/foods">Back to list</a>
</body>
</html>