<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Uppdatera Sprit</title>
</head>
<body>
<h1>Uppdatera Sprit</h1>
<form method="post" th:action="@{/sprits/{id}(id=${sprit.id})}">
    <input type="hidden" name="_method" value="PUT">
    <p>
        <label>Typ av Sprit: </label>
        <input type="text" name="type" th:value="${sprit.type}">
    </p>
    <p>
        <label>Titel: </label>
        <input type="text" name="type" th:value="${sprit.titel}">
    </p>
    <p>
        <label>Alcohol per Volume: </label>
        <input type="text" name="type" th:value="${sprit.apv}">
    </p>
    <p>
        <label>Months: </label>
        <input type="text" name="type" th:value="${sprit.ageInMonth}">
    </p>
    <p>
        <label>Prise: </label>
        <input type="text" name="type" th:value="${sprit.prise}">
    </p>
    <button type="submit">Uppdatera</button>
</form>
</body>
</html>