<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Spirit</title>
</head>
<body>
<h1>Edit Spirit</h1>
<form th:action="@{/spirits/{id}(id=${spirit.id})}" method="post">
    <p>Type: <input type="text" name="type" th:value="${spirit.type}"/></p>
    <p>Name: <input type="text" name="title" th:value="${spirit.title}"/></p>
    <p>Alcohol per Volume: <input type="number" step="0.1" name="apv" th:value="${spirit.apv}"/></p>
    <p>Months: <input type="number" name="ageInMonth" th:value="${spirit.ageInMonth}"/></p>
    <p>Price: <input type="number" step="0.01" name="price" th:value="${spirit.price}"/></p>
    <button type="submit">Update</button>
</form>
<a th:href="@{/spirits}">Back to list</a>
</body>
</html>