<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expiring Soon</title>
  <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
<div th:replace="~{fragments/navbar :: body}"></div>

<h1>Food Expiring Soon</h1>

<div class="page-container">

<div th:if="${errorMessage}" class="error-message" th:text="${errorMessage}"></div>

<p>
  Showing foods expiring within
  <strong th:text="${threshold}"></strong> days.
</p>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Barcode</th>
    <th>Best Before</th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="food : ${foods}">
    <td th:text="${food.name}"></td>
    <td th:text="${food.barcode}"></td>
    <td th:text="${food.bestBefore}"></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>