<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spirit</title>
</head>
<body>
<h1>Spirit Menu</h1>
<ul>
    <li th:each="spirit : ${spirits}">
        <span th:text="${spirit.title}"></span>
        <a th:href="@{/spirits/{id}(id=${spirit.id})}">Show Info</a>
        <span> - </span>
        <a th:href="@{/spirits/{id}/edit(id=${spirit.id})}">Update</a>
        <span> - </span>
        <form th:action="@{/spirits/{id}(id=${spirit})}" method="post"
              style="display:inline;">
            <input type="hidden" name="_method" value="delete">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</body>
</html>