<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spirit Menu</title>
</head>
<body>
<h1>All Spirits</h1>
<a th:href="@{/spirits/new}">Add New Spirit</a>
<ul>
    <li th:each="spirit : ${spirits}">
        <span th:text="${spirit.title}"></span>
        (<span th:text="${spirit.type}"></span>)
        <a th:href="@{/spirits/{id}(id=${spirit.id})}">Show</a> |
        <a th:href="@{/spirits/{id}/edit(id=${spirit.id})}">Edit</a> |
        <form th:action="@{/spirits/{id}/delete(id=${spirit.id})}" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</body>
</html>